/* Reset margin and padding for all elements */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');


:root {
  --primary-color: #033161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
}


#news,
#contact {
  margin-top: 0;
  /* เริ่มต้นที่ 0 */
  transition: margin-top 0.5s ease;
  /* ใช้การเปลี่ยนแปลง margin-top ด้วย animation ให้มีความสามารถในการเลื่อน */
}
.all-contents{
  margin: 2rem 13rem;
}
/* สไตล์แถบนำทาง */
.navbar {
  position: fixed;
  background-color: #034694;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  top: 0;
  width: 100%;
  z-index: 10;
}
#myMenu a.navBtn {
  background-color: white;
  color: #034694;
}
.empty{
  width: 100%;
  height: 58.88px;
  z-index: 9;
  background-color: #03306100;
  border: 1px #03306100 solid;
}
.content-homepage {
  background-image: url("/static/img/homeTop-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 2rem; */
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px -10px;
}

.left-contents {
  width: 120%;
  padding: 20px;
}
.main-contents p{
  display: flex;
  justify-content: center;
  margin: .05rem 0;
}
.main-contents a:nth-child(1){
  text-align: left;
  padding: 0;
  margin: 0;
  width: auto;
}
.left-contents a {
  display: flex;
  justify-content: center;
  width: auto;
}

.image-right {
  position: relative;
  background-image: url("/static/img/footballer.png");
  height: 30rem;
  width: 50rem;
  /* position: absolute; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  /* margin-right: 300rem; */
  /* margin-bottom: -50px; */
}

/* รูปโลโก้ */
.navbar-logo {
  height: auto;
  margin-right: 1.25rem;
  width: 85%;
  display: flex;
}



/* ลิงก์นำทาง */
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
  /* ปรับขนาดตามต้องการ */
  width: 50%;
}

.imglogo
{
  width: 10% !important;
  display: inline-block;
}

/* ปุ่มบนแถบนำทาง */
.navbar-button {
  background-color: #00000000;
  border: none;
}


.navbar-button :hover {
  background-color: #033161;
  /* สีน้ำเงินเข้มสำหรับเอฟเฟกต์ hover */
  color: white;
}
.bg-top{
  background-image: url("/static/img/bg-bur.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  /* backdrop-filter: blur(100px); */
  padding: 0 13rem;
  margin: 0 auto 2rem auto; /* ให้มี margin-top เท่ากับความสูงของ .navbar */
  height: auto;
  position: relative; /* เพิ่ม line นี้ */
  z-index: 9; /* ต้องมีค่าน้sอยกว่า z-index ของ .navbar */

}
.bg-top img {
  width: 100%;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  height: auto;
  max-height: 550px;
  object-fit: contain;
}

/* .homeTop-bg{
  display: ;
} */
/* .content {
  display: grid; 
  place-items: center; 
  margin-top: 5rem;
} */

.innerContents {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ---------------------------- */
#form-steps {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  gap: 10rem;
  max-width: 708px;
  margin: 0 auto;
  width: 100%;
}

.step {
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.313rem;
  cursor: pointer;
}
.active {
  background-color: #034694;
  border-radius: 6px;
  color: #fff;
}
.arena-button.active {
  color: white;
  background-color: #034694;
  /* อื่น ๆ สไตล์ที่คุณต้องการใช้กับปุ่มที่ active */
}


.step.active {
  background-color: #007bff;
  color: white;
}

.form-section {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 98%;
  height: 100%;
  margin: auto;
  margin-bottom: 2rem;
  animation: animate 0.5s;
}

@keyframes animate {
  from {
    transform: scale(1,0);
    opacity: 0;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}
.form-active {
  display: block;
}


.main-contents {
  margin: 0 auto;
  /* text-align: center; */
  margin-bottom: 1.5rem;
}
.main-contents p{
  margin: 1rem;
}


.main-contents li
{
  font-size: clamp(0.75rem, 0.6635rem + 0.3846vw, 1.125rem);
}

.left-contents btn>a {
  color: white;
  text-decoration: none;
  font-size: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  border-radius: 0.313rem;
  padding: 0.625rem;
  background-color: #033161;
  margin-bottom: 1.25rem;
  margin: 0 30%;
}

.main {
  align-items: center;
  text-align: center;
  margin-top: 0.938rem;
}

.main input {
  margin-top: 0.938rem;
  width: 30rem;
  height: 2rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
}
/* --------------------------------------------- */

.tabledata{
  display: flex;
  justify-content: center;
  align-items: center;
}
.data{
  width: 85%;
  /* height: 405px; */
  padding-bottom: 10px;
  overflow-y: hidden;
  margin: auto 0;
}
table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
td{
  height: auto;
}
th {
  background-color: #ADD8E6;
  width: 16%;
}

.main-data{
  /* padding-left: 2rem; */
  overflow-y: hidden;
}
/* ---------------------------------------------- */
.Winnner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #033161;
  color: #fff;
  height: 2.5rem;
  margin: 1rem auto;
  border-radius: 5px;
}

.Title {
  color: #000;
  font-size: clamp(1rem, 0.5455rem + 1.2121vw, 2rem);
  font-weight: 600;
  line-height: normal;

}

.linetitle {
  border-top: 1px solid #c4c4c4;
}

.Hreward {
  display: flex;
  color: white;
  background-image: url('/static/img/homeTop-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #050E4F;
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 5px 20px -10px;
  justify-content: space-between;
  padding-left:  2rem;
}

.rewardData {
  height: auto;
  width: 70%;
  padding-left: 5rem;
}

.topic {
  margin-top: 2rem;
  text-align: left;
}

.linef {
  height: auto;
  width: 0.5rem;
  background-color: white;
  margin-right: 1rem;
}

.data1 {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-right: 1.25rem;
  text-align: left;
}

.data2 {
  display: flex;
  margin-bottom: 1.5rem;
  padding-right: 1.25rem;
  text-align: left;
}

.data3 {
  display: flex;
  margin-bottom: 1.5rem;
  padding-right: 1.25rem;
  text-align: left;
}

.data4 {
  display: flex;
  margin-bottom: 1.5rem;
  padding-right: 1.25rem;
  text-align: left;
}

.imagRigt {
  background-image: url("/static/img/SWOF_Skill-01.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  position: center;
  height: auto;
  width: calc(100% - 65%);
  vertical-align: bottom;
  border-top-right-radius: 10px;
}

.dataRegis {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-image: url("/static/img/bg.bottom.png");
  background-color: #033061f3;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 30px -15px;
}

.imagLeft {
  background-image: url("/static/img/SWOF_Skill-01.jpg");
  /* background-color: #033061f3; */
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 50%;
  border-bottom-left-radius: 10px;
}

.Dataright {
  margin: 2rem 0;
  width: calc(100% - 25%);
}

/* Style the dropdown */
#dropdown {
  width: 12.5rem;
  /* Set the width of the dropdown */
  padding: 0.625rem;
  /* Add some padding for spacing */
  font-size: 1rem;
  /* Set the font size */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 0.25rem;
  /* Round the corners */
  background-color: #fff;
  /* Background color */
}

/* Style the dropdown when it's focused */
#dropdown:focus {
  outline: none;
  /* Remove the default focus outline */
  border-color: #007bff;
  /* Change the border color when focused */
}

/* Style the dropdown options */
#dropdown option {
  font-size: 0.875rem;
  /* Set the font size for options */
}

/* Style the label */
label {
  font-weight: 400;
  margin-right: 0.625rem;
}

.rewardCom {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  
}
.bg-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#btnFooter a.btnFT {
  text-decoration: none;
  border-radius: 0.313rem;
  padding: 0.625rem;
  background-color: #033161;
  color: white ;
  width: 30%;
}
.dataReward {
  margin-top: 2rem;
  text-align: left;
  width: 80%;
}
.dataReward li{
  display: flex;
}
li p:nth-child(1){
  margin-right: 1rem;
}
/* .FT-reward:nth-child(1){
  text-align: left;
} */
.FT-reward{
  text-align: center;
  margin-top: 2rem;
}
.FT-reward table{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* font-size: clamp(0.75rem, 0.7159rem + 0.0909vw, 0.825rem); */
  font-size: 16px;

}
@media (max-width:680px){
  .FT-reward tr td:nth-child(1){
    display: none;
  }
  .FT-reward table{
    box-shadow: none;
  }
  .diff{
    height: 110px;
  }
}

.dataReward i {
  display: flex;
  justify-content: center;
  align-items: center;
}


li {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

.sp{
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

/* Base styles for the layout */
.toggle-container {
  margin: 10px;
  text-align: left;
}

/* Styles for the toggle switch */
.toggle-input {
  display: none;
}


  .toggle-label {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: rgb(255, 255, 255);
    color: #05256f;
    border-radius: 10px;
    padding: 15px 5rem 15px 15px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.toggle-handle {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 20px;
  height: 20px;
  background-image: url("/static/img/caret-down-fill.svg");
  color: white;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.toggle-text br{
    display: none;
  }
.toggle-text {
  margin-left: 35px;
  font-size: 1.5rem;
}

.toggle-input:checked+.toggle-label {
  background-color: #05256f;
  /* Background turns black when activated */
  color: white;
  /* Text turns white when activated */
}

.toggle-input:checked+.toggle-label .toggle-handle {
  transform: translateX(0);
  background-image: url("/static/img/caret-up-fill.svg");
  background-repeat: no-repeat;
}

/* Content that shows/hides on toggle */
.toggle-content {
  display: none;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.toggle-content p{
  padding-left: 1.68%;
  margin-bottom: 0.875rem;
  margin-top: 0.875rem;
}
.toggle-content h1{
  padding-left: 2%;
}
.toggle-content img{
  display: flex;
  margin: 1rem auto;
  border-radius: 15px;
}
.toggle-tagp{
  margin-left: 20px;
}

.toggle-input:checked~.toggle-content {
  display: block;
}

/* top main */

button>a {
  text-decoration: none;
}



.bottom-main {
  margin-left: 2rem;
  margin-right: 2rem;
}

.bottom-main h2,
h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottom-main p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bottom-main img {
  background-color: #f7f7f7;
    border: 5px solid #efefefee;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 700px;
    line-height: 250px;
    display: inline-block;
    margin: auto;
}

.Result-compate button {
  margin-bottom: 2rem;
  background-color: #fff;
  color: #033161;
  border: #034694 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.Result-compate button:hover {
  margin-bottom: 2rem;
  background-color: #033061f3;
  color: #fff;
}

/* footer */
footer {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  /* margin-top: 3.125rem; */
  background-image: url("/static/img/homeTop-bg.png");
  background-size: cover;
  background-color: #05256f;
  background-repeat: no-repeat;
  /* vertical-align: middle; */
  align-items: center;
  padding: 5rem 5rem;
  gap: 50px;
  color: white;
  /* padding-top: 5rem; */
}


.topFooter {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem);
}

.footleft {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.footright {
  vertical-align: middle;
  display: flex;
  justify-content: right;
  width: 50%;
}

i {
  height: 2rem;
  width: 2rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.footBottom {
  margin-top: 2rem;
  text-align: center;
}
.bg-top img:nth-child(2){
  display: none;
}

.logoFT{
  width: 15%;
  margin-bottom: 0;
}
.logoFTs{
  width: 15%;
  margin-bottom: 0;
}

.co-footer p{
  /* margin-right: 4rem; */
  white-space: nowrap;
  text-align: left;
  font-size: 100.00%;
}
.co-footer{
  width: 16%;
  text-align: right;
  vertical-align: middle;
  margin-right: 0;
}
.co-footer img{
  margin-right: auto;
  width: 100%;
}
span br{
  display: none;
}

@media(min-width:2000px){
  .all-contents{
    margin: 0 25%;
  }

  footer{
    padding: 1.25rem 25%;
  }

  .bg-top{
    padding: 0 25%;
  }

  /* .dataRegis{
    height: 65vh;
  } */
}

/* @media(max-width:1999px){
  .dataRegis{
    height: 65vh;
  }
} */
@media (max-width: 1600px) {
  #form-steps {
    max-width: fit-content;

  }
}

/* CSS Media Queries สำหรับแท็บเล็ต 768 */
@media screen and (max-width: 1366px) {
  
  .rewardData {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  .main-contents br{
    display: none;  
  }
  .toggle-text{
    margin-left: 9px;
  }

  .all-contents{
    margin: 0 4rem;
  }
  footer{
    padding: 1.25rem 4rem;
    gap: 5px;
  }
  .bg-top{
    padding: 0 4rem;
  }
  .dataRegis{
    height: 100%;
  }

  .dataReward btn>a {
    font-size: clamp(1rem, 0.9167rem + 0.1736vw, 1.125rem);
    margin: 0 28%;
  }

  .image-right {
    display: none;
  }

  .top-main img {
    display: none;
  }

  .data1,
  .data2,
  .data3,
  .data4 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    /* margin-left: 5.5rem; */
    padding: 1rem 0;
    margin: 0 auto;
    margin-right: 0;
    justify-content: center;
  }

  .imagRigt {
    display: none;
  }

  .linef {
    display: none;
  }

  .topic {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    /* margin-left: 10rem; */
  }

  .image-right {
    display: none;
  }

  .top-main {
    padding: 1rem;
    height: auto;
    background-size: auto;
    background-position: center;
  }

  .navbar {
    justify-content: center;
    padding: 1rem;
    display: block;
    align-items: center;
  }
  .navbar .menu{
    margin-top: 1rem;
  }

  .navbar-logo {
    display: none;
  }


  .Dataright {
    margin: 0 auto;
    width: 100%;
    font-size: small;
  }

  .Dataright span {
    font-size: 1rem;
  }

  .left-contents h1 {
    margin: 0 auto;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .top-main {
    padding-top: 10rem;
  }

  .Winnner {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .left-contents {
    align-items: center;
    margin: 0 auto;
  }
  .left-contents a {
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;
  }
  .left-contents btn{
    padding: 0 10rem;
  }
  .imagLeft {
    display: none;
  }

  .rewardCom i {
    margin-right: -1rem;
  }
  .Hreward{
    padding: 0;
  }
  #btnFooter a.btnFT {
    width: 65%;  
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }
  .hamburger-menu{
    top: 1.4rem !important;
  }
}

@media (max-width: 1022px) {
  .toggle-content p{
    padding-left: 18px;
  }
    .toggle-content h1{
    padding-left: 18px;
  }
}
@media (max-width: 1500px) {
  #form-steps {
    gap: 7rem;
  }
  .checkd-date-title
  {
    width: 12% !important;
  }

  .step {
    width: 60px !important;
    height: 60px !important;
  }

  .tableMember button
  {
   width: 90% !important;
  }
}

@media (max-width: 1300px) {
  .step {
    width: 45px !important;
    height: 45px !important;
  }
  #form-steps {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    gap: 6rem;
    max-width: 37%;
    margin: 0 auto;
  }
}

@media (min-width:1440px)
{
  .form-section
  {
    max-width: 80% !important;
  }
}



@media (max-width: 1200px) {
  #form-steps {
    gap: 6rem;
  }
  #form-steps {
    max-width: 38%;
    margin: 0 auto;
  }
  

  .collapsible .field-player::after {
    background-size: 80% 80% !important;
    transform-origin: center !important;
    top: 2%;

  }
  .collapsible input:checked+.field-player::after {
    transform: rotate(0deg) !important;
  }
}

@media (max-width: 1024px) {
  #form-steps {
    gap: 4rem;
  }
}
@media (max-width: 840px) {
  #form-steps {
    gap: 2rem;
    max-width: 36%;
  }

  .step {
    width: 50px !important;
    height: 50px !important;
  }

  .field-player::after {
    background-size: 60% 60% !important;
    top: 5%;
  }

  .collapsible input:checked+.field-player::after {
    transform: rotate(0deg) !important;
  }
}

@media (max-width:760px)
{
  .bg-top {
    background-image: none; /* ปิดการใช้ background-image */
  }
  .bg-top img:nth-child(1){
    display: none;
  }
  .bg-top img:nth-child(2){
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
  }
  .detail-playment {
    width: 80%;
}
}
a{
  color: #551A8B;
}
.FT-reward p:nth-child(2)>a{
  color: #551A8B;
}
.FT-reward p:nth-child(2) br{
    display: none;
  }
@media (max-width: 539px) {
  .FT-reward p:nth-child(2) br{
    display: block;
  }
} 


@media (max-width: 500px) {
  #form-steps {
    gap: 1rem;
  }
  .Result-compate .setting{
    margin: 0 auto;
  }
  .taberdata{
    margin: 1rem;
    margin: 0 auto;
  }
  .dataReward{
    align-items: center;
    width: 90%;
  }
  .dataReward btn>a {
    margin: 0 auto;
    font-size: 0.875rem;
    text-align: center;
    width: auto;
  }
 
  .detail-playment {
    width: 100%;
}

  .step {
    width: 50px !important;
    height: 50px !important;
  }

  .select-stadium select {
    background-size: 14px 14px !important;
  }

  .collapsible .field-player::after {
    background-size: 40% 40% !important;
    top: 0%;
  }

  .collapsible input:checked+.field-player::after {
    transform: rotate(0deg) !important;
  }

  .confirm-btn {
    flex-direction: column;
  }

  .img-con
  {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bottom-main img
  {
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bottom-main {
    margin-left: 0;
    margin-right: 0;
  }
  .break-before
  {
    font-size: small !important;
    padding-left: 18px;
    display: inline-block;
  }
  .break-before::before {
    display: block; /* Using '\A' to insert a line break */
    content: '    '; /* Ensures the line break is rendered */
  }
}


@media (max-width: 550px) {
  .quanlity-player {
    flex-direction: column;
  }
  #form-steps {
    max-width: 50%;
  }
  
}
@media (max-width: 557px) {
  .main-contents p{
    display: block;
    text-align: center;
  }
}

@media (max-width: 468px) {
  span br{
    display: block !important;
  }
}

@media (max-width: 400px) {
  .left-contents btn>a {
    margin: 0 20%;
  }
  .detail-playment {
    width: 94% !important;
    padding-right: 9px;
}
}

@media (max-width: 370px) {
  .rewardData {
    width: 80%;
  }

}

/* Hamburger menu css */


.menu-toggle-checkbox {
  display: none;
}
.menu a{
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.menu a:hover {
  background-color: #fff;
  padding: 10px 20px;
  /* border-radius: 0.3125rem; */
  color: var(--primary-color);
  transition: all 0.3s;
}
@media (max-width:680px){
  /* .tableMember{
    overflow-y: visible;
  } */
  
  th, td {
    display: block;
    width: 100%;
  }
  tr {
    margin-bottom: 10px;
    display: block;
  }
  thead {
    display: none;
  }
  tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  td {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ADD8E6 0%, #ADD8E6 40%, #ffffff 40%);
    /* display: block; */
    width: 100%;
    height: 55px;
    text-align: left;
    padding-left: 50%; /* Adjust if necessary */
    position: relative;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 35%; /* Adjust if necessary */
    padding-left: 15px;
    /* font-weight: bold; */
    text-align: left;
  }

}

@media (min-width:650px)
{
  .hamburger-menu{
    display: none;
  }
  
}

@media (max-width:1366px){
  .dataReward btn>a {
    margin: 0 auto;
    font-size: 0.875rem;
    text-align: center;
    width: auto;
  }
  .checkd-date-title
  {
    width: 20% !important;
  }
  .confirm-player {
    width: 45% !important;
  }
}

@media (max-width:1366px) {
  .table-compete u{
    display: none;
  }
  .bg-top img{
    width: 100%;
  }
  #menuToggle:checked ~ .menu {
    display: block; /* Or your desired display style */
    /* Add other styles for active state */
  }
  .menu {
    display: none;
  }

  .menu a {
    width: 100%;
    margin: 0.5rem 0;
  }

  .navbar {
    height: auto;
    position: fixed;
    flex-direction: column;
    display: flex;
    padding: 5px;
    top: 0;
    /* padding: 1rem !important; */
  }
 
  .menu-active {
    display: block;
  }

  .menu-active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar .navbar-logo {
    display: block;
    width: auto;
    height: 83px;
  }

  .navbar a
  {
    margin-right: auto;
  }

  .navbar-button {
    margin: .5rem 0;
    width: 100%;
  }
  .navbar-button{
    width: 100%;
    margin-bottom: 1rem;
  }
  .menu btn{
    border: none !important;
  }
  .navbar-button a {
    background: none;
    color: #fff;
    border: none;
    background-color: red;
    width: 100%;
    border: none;
  }

  /* .navbar-button a:hover {
    background-color: #fff;
    border: none;
    color: var(--primary-color);
  } */

  .hamburger-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }
 
  /* ------------------------------- */
  
}
@media (max-width:480px){
  .Result-compate .setting{
    margin: 0 auto;
    /* width: 75%; */
  }
}
@media (max-width:700px){
  .dataReward btn>a {
    margin: 0 auto;
    font-size: 0.875rem;
    text-align: center;
    width: auto;
  }
  .bg-top {
    
    padding: 0 0.5rem;
  }

  .all-contents{
    margin: 0 .5rem;
  }
  footer{
    padding: 1.25rem .5rem;
  }
}


.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -5px) rotate(45deg);
}
@media (max-width: 768px) {
  .taberdata .col1{
    overflow-x: auto !important;
  }
  
  .col1{
    white-space: nowrap;
  }
}
@media (max-width: 422px) {
  .toggle-text br{
    display: block;
  }
  
}

.logo-footer
{
  display: flex;
  align-items: center;
  /* margin: 0 13rem ; */
  width: 16%;
}
@media (max-width:676px){
  footer{
    display: block;
  }

}

@media (max-width:800px)
{
  .logoFT{
    width: 35%;
    margin-bottom: 50px;
  }
  .logoFTs{
    width: 35%;
  }
  .logo-footer
  {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem !important;
    width:30% !important;
    align-items: center !important;
  }
  .topFooter
  {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .co-footer{
    width: 40%;
    margin-bottom: 50px;

  }
  .co-footer p{
    margin: 0 auto;
  }
  .checkd-date-title
  {
    width: 14% !important;
  }

  footer
  {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .foot-content
  {
    display: none;    
  }

  .footright
  {
    flex-direction: column;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
  }
  .footright >i
  {
    margin-top: 8px;
    height: 16px;
    margin-bottom: 8px;
  }
  .container-contact
  {
    margin-top: 1rem;
    
  }
  
  .footBottom
  {
    text-align: center;
    width: 80%;
    display: flex;
    margin: 0 auto;
  }
  
  .footleft
  {
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }
  
  .contact-social
  {
    gap: .1rem !important;
  }

  .container-playment
  {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .playment-detail
  {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
  #image-preview
  {
    margin: 2rem auto !important;
  }
  .file-playment
  {
    margin: 0 auto;
  }
  .amount-price
  {
    height: 38px !important;
  }
  .cf
  {
    display: none;
  }
}


@media (max-width:460px){

  .checkd-date-title
  {
    width: 30% !important;
  }

  h1{
    font-size: 1.5rem
  }
  h2{
    font-size: 1rem;
  }
  /* p{
    font-size: clamp(0.75rem, 0.7159rem + 0.0909vw, 0.825rem);
  } */
}

.contact-social
{
  display: flex;
}

.contact-social a
{
  text-decoration: none;
  color: #fff;
}

.hr
{
  margin: 2rem;
}

.travalsubport {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  justify-content: space-between;
  grid-auto-rows: auto;
}
.travalsubport br{
  display: none;
}
@media (min-width: 869px) {
  .travalsubport {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width:868px){
  .travalsubport {
    grid-template-columns: auto auto;
  }
  .travalsubport br{
    display: block;
  }
}