<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/collapsible.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">

</head>
<title>Step2</title>

<body>
  <div class="navbar">
    <a class="imglogo" href="{{ url_for('home') }}"><img
        src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" class="navbar-logo" alt="โลโก้"></a>
    <div class="menu" id="myMenu">
      <a href="{{ url_for('home') }}">หน้าแรก</a>
      <a href="{{ url_for('home') }}#news">ตารางการแข่งขัน</a>
      <a href="{{ url_for('tableresult')}}">ผลการแข่งขัน</a>
      <a class="navBtn" href="{{ url_for('register') }}">ลงทะเบียน</a>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="empty"></div>

  <div class="bg-top">
    <img src="{{ url_for('static', filename='img/bg-top-new.jpg') }}" alt="">
    <img src="{{ url_for('static', filename='img/mobile.jpg') }}" alt="">
  </div>


  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress2" id="progress2"></div>
    <div class="step active" data-step="1"></div>
    <div class="step active" data-step="2"></div>
    <div class="step" data-step="3"></div>
    <div class="step" data-step="4"></div>
  </div>
  <div class="form-section" data-step="2">
    <!-- Form fields for step 2 -->
    <form action="{{ url_for('addnameplayer') }}" enctype="multipart/form-data" method="post" id="form-2">
      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 1</div>
            <p style="
                  color: #eb0000;
                  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="text" id="nameplayer" name="nameplayer" placeholder="กรุณากรอกชื่อ-นามสกุล" required />
        <div class="sport-title">
          <label for="dateplayer">วัน เดือน ปี เกิด</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="date" id="dateplayer" name="dateplayer" placeholder="กรุณากรอก วัน เดือน ปีเกิด" required />

        <div class="sport-title">
          <label for="phoneplayer">เบอร์โทร</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="tel" id="phoneplayer" name="phoneplayer" placeholder="กรุณาเบอร์โทร 10 หลัก" pattern="[0-9]{10}"
          required />

      </div>

      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 2</div>
            <p style="
                  color: #eb0000;
                  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer-2">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="text" id="nameplayer-2" name="nameplayer-2" placeholder="กรุณากรอกชื่อ-นามสกุล" />
        <div class="sport-title">
          <label for="dateplayer-2">วัน เดือน ปี เกิด</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="date" id="dateplayer-2" name="dateplayer-2" placeholder="กรุณากรอก วัน เดือน ปีเกิด" />
        <div class="sport-title">
          <label for="phoneplayer-2">เบอร์โทร</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="tel" id="phoneplayer-2" name="phoneplayer-2" placeholder="กรุณาเบอร์โทร 10 หลัก"
          pattern="[0-9]{10}" />

      </div>

      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 3</div>
            <p style="
                  color: #eb0000;
                  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer-3">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="text" id="nameplayer-3" name="nameplayer-3" placeholder="กรุณากรอกชื่อ-นามสกุล" />
        <div class="sport-title">
          <label for="dateplayer-3">วัน เดือน ปี เกิด</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="date" id="dateplayer-3" name="dateplayer-3" placeholder="กรุณากรอกวัน เดือน ปีเกิด" />
        <div class="sport-title">
          <label for="phoneplayer-3">เบอร์โทร</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="tel" id="phoneplayer-3" name="phoneplayer-3" placeholder="กรุณาเบอร์โทร 10 หลัก"
          pattern="[0-9]{10}" />


      </div>
      <div class="container-form">
        <div class="title-header">
          <div class="Player-title">
            <div class="add-player">คนที่ 4</div>
            <p style="
                  color: #eb0000;
                  font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                  font-weight: 600;
                ">
              *
            </p>
          </div>
        </div>
        <div class="sport-title">
          <label for="nameplayer-4">กรอกชื่อ - นามสกุล</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="text" id="nameplayer-4" name="nameplayer-4" placeholder="กรุณากรอกชื่อ-นามสกุล" />
        <div class="sport-title">
          <label for="dateplayer-4">วัน เดือน ปี เกิด</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="date" id="dateplayer-4" name="dateplayer-4" placeholder="กรุณากรอกวัน เดือน ปีเกิด" />
        <div class="sport-title">
          <label for="phoneplayer-4">เบอร์โทร</label>
          <p style="
                color: #eb0000;
                font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              ">
            *
          </p>
        </div>
        <input type="tel" id="phoneplayer-4" name="phoneplayer-4" placeholder="กรุณาเบอร์โทร 10 หลัก"
          pattern="[0-9]{10}" />


      </div>

      <div class="btn-control">
        <a href="{{ url_for('home') }}"></a>
        <button style="background-color: #eb0000" type="button" id="prev1"class="next-2">ย้อนกลับ</button>
        <button type="submit" class="next-2">ถัดไป</button>
    </div>
    </form>
  </div>

<footer>
        <img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" alt="โลโก้" class="logoFT" />
        <img src="{{ url_for('static', filename='img/AW_Singha Chelsea Logo [Singha Corp]_2023-02.png') }}" alt="โลโก้" class="logo-footer" />
        <div class="co-footer">
          <!-- <p>co – sponsored by</p> -->
          <img src="{{ url_for('static', filename='img/co.png') }}" alt="โลโก้"/>
        </div>
       	<img src="{{ url_for('static', filename='img/Logo_Volt-02.png') }}" alt="โลโก้" class="logoFTs" />
        
  </footer>
  
</body>
<script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/script.js"></script>
<script src="/js/add-form.js"></script>
<script src="/js/responsive.js"></script>
<script src="/js/detect.js"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>
<script src="{{ url_for('static', filename='js/add-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/detect.js') }}"></script> -->
<script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{{ url_for('static', filename='js/empty.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  // JavaScript code to handle the "Previous" button click event
document.getElementById("prev1").addEventListener("click", function(event) {
  // Prevent the form from submitting
  event.preventDefault();
  
  // Redirect to the register page
  window.location.href = "{{ url_for('register1') }}";
});

</script>

</html>