<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/collapsible.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">

</head>
<title>Finally Step</title>

<body>
  
    <div class="navbar">
    <a class="imglogo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" class="navbar-logo" alt="โลโก้"></a>
          <div class="menu" id="myMenu">
            <a href="{{ url_for('home') }}">หน้าแรก</a>
            <a href="{{ url_for('home') }}#news">ตารางการแข่งขัน</a>
            <a href="{{ url_for('tableresult')}}">ผลการแข่งขัน</a>
            <a class="navBtn" href="{{ url_for('register') }}">ลงทะเบียน</a>
          </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

<div class="empty"></div>

    <div class="bg-top">
      <img src="{{ url_for('static', filename='img/bg-top-new.jpg') }}"alt="">
      <img src="{{ url_for('static', filename='img/mobile.jpg') }}"alt="">
    </div>

  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress2" id="progress2"></div>
    <div class="progress3" id="progress3"></div>
    <div class="progress4" id="progress4"></div>
    <div class="step active" data-step="1"></div>
    <div class="step active" data-step="2"></div>
    <div class="step active" data-step="3"></div>
    <div class="step active" data-step="4"></div>
  </div>
  <div class="form-section" data-step="4">
    <form action="{{ url_for('confirm') }}" method="post" enctype="multipart/form-data">
    <!-- Form fields for step 4 -->
    <div class="thank-campagin">
      <h1 class="thank-activitie">
        ขอบคุณที่ลงทะเบียนเข้าร่วมกิจกรรมค่ะ/ครับ
      </h1>
      <p style="
              margin-bottom: 2rem;
              margin-top: 2rem;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
              padding: 0rem 1rem;
            ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
    </div>
    <div class="confirm-btn">
      <button type="submit" class="sign-up" id="submit-btn">บันทึกข้อมูลการลงทะเบียน</button>
    </div>
  </form>
  </div>


<footer>
        <img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" alt="โลโก้" class="logoFT" />
        <img src="{{ url_for('static', filename='img/AW_Singha Chelsea Logo [Singha Corp]_2023-02.png') }}" alt="โลโก้" class="logo-footer" />
        <div class="co-footer">
          <!-- <p>co – sponsored by</p> -->
          <img src="{{ url_for('static', filename='img/co.png') }}" alt="โลโก้"/>
        </div>
       	<img src="{{ url_for('static', filename='img/Logo_Volt-02.png') }}" alt="โลโก้" class="logoFTs" />
        
  </footer>
  
</body>
<!--<script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/add-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>
<script src="{{ url_for('static', filename='js/copy.js') }}"></script>
 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
 <script src="{{ url_for('static', filename='js/empty.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>