<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/collapsible.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-popupadmin.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">
</head>
<title>Register Page</title>

<body>
  <div class="navbar">
    <a class="imglogo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" class="navbar-logo" alt="โลโก้"></a>
          <div class="menu" id="myMenu">
            <a href="{{ url_for('home') }}">หน้าแรก</a>
            <a href="#news">ตารางการแข่งขัน</a>
            <a href="{{ url_for('tableresult')}}">ผลการแข่งขัน</a>
            <a class="navBtn" href="{{ url_for('register') }}">ลงทะเบียน</a>
          </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="empty"></div>

  <div class="bg-top">
    <img src="{{ url_for('static', filename='img/bg-top-new.jpg') }}"alt="">
    <img src="{{ url_for('static', filename='img/mobile.jpg') }}"alt="">
  </div>


  <div id="policyModal" class="Modal-policy">
    <div class="text-modal">
    <div class="modal-content-policy">
     <div class="modal-title-policy">
      <h2 class="rule-policy">&emsp;&emsp;หนังสือยินยอมอนุญาตให้เผยแพร่ภาพถ่าย วิดีโอ หรือข้อมูล ส่วนบุคคลบนอินเทอร์เน็ต หรือกระดานข่าวอื่น ของการแข่งขัน Singha World of Football Skill Challeage</h2>
    </div>
      <p class="policy-body">
        &emsp;&emsp;ตามกฎหมายว่าด้วยข้อมูลส่วนบุคคล จะต้องให้ความยินยอม อนุญาต ก่อนที่จะเผยแพร่ภาพถ่ายดิจิทัล วิดีโอ บนเว็บไซต์ บนอินเทอร์เน็ต หรือ กระดานข่าวอื่นๆ ในที่สาธารณะชนหรือตามสถานที่ใดๆ 
       กฎหมายมีวัตถุประสงค์เพื่อคุ้มครองประชาชนจากการละเมิดความเป็นส่วนตัวโดย การจัดการข้อมูลส่วนบุคคลอย่างปลอดภัย 
        งานประชาสัมพันธ์ ของการแข่งขัน Singha World of Football Skill Challeage 
        โดยบริษัท สิงห์ คอร์เปอเรชั่น จำกัดจะเผยแพร่ภาพถ่าย วิดีโอ เนื้อหา ข้อมูลต่างๆ ของนักเตะบนเว็บไซต์ บนอินเทอร์เน็ต กระดานข่าวอื่นๆ ในที่สาธารณะชนหรือตามสถานที่ใดๆ เพื่อเป็นสื่อกลางในการสื่อสารกับสังคมและเป็นประโยชน์ต่อส่วนรวม เราจึงจำเป็นต้องขอความยินยอมจากผู้สมัคร เข้าร่วมโครงการก่อนที่จะนำข้อมูลซึ่งเกี่ยวข้องกับผู้เข้าแข่งขันมาเผยแพร่บนเว็บไซต์ บนอินเทอร์เน็ต หรือ กระดานข่าวอื่นๆ 
        ในที่สาธารณะชนและสถานที่อื่นๆ
      </p>
      <!-- Add your policy content here -->
      <div class="accept-container">
      <div class="accept-c">
        <input type="checkbox" id="acceptPolicy" name="acceptPolicy">
        <label for="acceptPolicy">ยอมรับ</label>
      </div>
      <div class="accept-c">
        <input type="checkbox" id="rejectPolicy" name="rejectPolicy">
        <label for="rejectPolicy">ไม่ยอมรับ</label>
      </div>
    </div>
      <button id="confirmPolicy" class="confirmPolicy">ยืนยัน</button>
    </div>
  </div>
  </div>
  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress" id="progress"></div>
    <div class="step active" data-step="1"></div>
    <div class="step" data-step="2"></div>
    <div class="step" data-step="3"></div>
    <div class="step" data-step="4"></div>
  </div>

  <div class="form-section form-active" data-step="1">
    <!-- Form fields for step 1 -->
    <form action="{{ url_for('addnameteam') }}" method="post" id="form-1" enctype="multipart/form-data">
      <div class="sport-title">
        <label for="stadium-select">กรุณาเลือกสนามแข่งขัน</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <div class="select-stadium">
        <select id="stadium-select" name="stadium-select" required>
            <option value="">กรุณาเลือกสนามแข่งขัน</option>
            <!-- Add more options here -->
            <option value="สนาม CM Trafford Arena">ภาคเหนือ จ.เชียงใหม่ - สนาม CM Trafford Arena</option>
            <option value="สนาม Major Arena">ภาคอีสาน จ.ขอนแก่น - สนาม Major Arena</option>
            <option value="สนาม Sport Arena">ภาคใต้ จ.สงขลา - สนาม Sport Arena</option>
            <option value="สนาม Sriracha Arena">ภาคตะวันออก จ.ชลบุรี - สนาม Sriracha Arena</option>
            <option value="สนาม Future Arena">ภาคกลาง จ.กรุงเทพมหานคร - สนาม Future Arena</option>
            <!-- ... -->
        </select>
        <span class="angledown"></span>
      </div>
      <div class="sport-title">
        <label for="Teamname">กรุณากรอกชื่อทีม</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="Teamname" name="Teamname" placeholder="กรุณากรอกชื่อทีม" required />
      <div class="sport-title">
        <label for="Captain">กรอกชื่อ - นามสกุล หัวหน้าทีม</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="Captain" name="Captain" placeholder="กรุณากรอกชื่อ - นามสกุล" required />
      <div class="sport-title">
        <label for="phoneCaptain">เบอร์โทร</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <input type="tel" id="phoneCaptain" name="phoneCaptain" pattern="\d{10}" maxlength="10"
        placeholder="กรุณาเบอร์โทร 10 หลัก" required />
      <div class="sport-title">
        <label for="emailCaptian">Line ID</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <input type="text" id="LindID" name="LindID" placeholder="กรุณากรอก ID Line" required />
      <div class="sport-title">
        <label for="emailCaptian">อีเมล</label>
        <p style="
              color: #eb0000;
              font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            ">
          *
        </p>
      </div>
      <input type="email" id="emailCaptian" name="emailCaptian" placeholder="กรุณากรอกอีเมล" required />

      <hr />
      <div class="btn-next">
        <button class="next1" type="submit"  style="width: 196px" id="load2">
        ถัดไป
        </button>
      </div>
    </form>
  </div>
  
<footer>
        <img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" alt="โลโก้" class="logoFT" />
        <img src="{{ url_for('static', filename='img/AW_Singha Chelsea Logo [Singha Corp]_2023-02.png') }}" alt="โลโก้" class="logo-footer" />
        <div class="co-footer">
          <!-- <p>co – sponsored by</p> -->
          <img src="{{ url_for('static', filename='img/co.png') }}" alt="โลโก้"/>
        </div>
       	<img src="{{ url_for('static', filename='img/Logo_Volt-02.png') }}" alt="โลโก้" class="logoFTs" />
        
  </footer>
  
  <script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- <script src="/js/script.js"></script>
  <script src="/js/add-form.js"></script>
  <script src="/js/responsive.js"></script>
  <script src="/js/detect.js"></script> -->
  <script src="{{ url_for('static', filename='js/add-form.js') }}"></script>
  <script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
  <script src="{{ url_for('static', filename='js/detect.js') }}"></script>
  <script src="{{ url_for('static', filename='js/copy.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Modalpolicy.js') }}"></script>
  <script src="{{ url_for('static', filename='js/empty.js') }}"></script>
</body>
</html>