<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/collapsible.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<title>Step3</title>

<body>
  <div class="navbar">
    <a class="imglogo" href="{{ url_for('home') }}"><img
        src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" class="navbar-logo" alt="โลโก้"></a>
    <div class="menu" id="myMenu">
      <a href="{{ url_for('home') }}">หน้าแรก</a>
      <a href="{{ url_for('home') }}#news">ตารางการแข่งขัน</a>
      <a href="{{ url_for('tableresult')}}">ผลการแข่งขัน</a>
      <a class="navBtn" href="{{ url_for('register') }}">ลงทะเบียน</a>
    </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

  <div class="empty"></div>

  <div class="bg-top">
    <img src="{{ url_for('static', filename='img/bg-top-new.jpg') }}" alt="">
    <img src="{{ url_for('static', filename='img/mobile.jpg') }}" alt="">
  </div>


  {% if 'player_data' in session %}
  <div class="content">
    <div class="innerContents">
      <h2 class="Title">
        ลงทะเบียนเพื่อเข้าร่วมโครงการ “SINGHA WORLD OF FOOTBALL SKILLS
        CHALLENGE”
      </h2>
      <p style="
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
            padding: 0rem 1rem;
          ">
        จัดการแข่งขันโดย บริษัท สิงห์ คอร์เปอเรชั่น จำกัด
        ผู้สนับสนุนสโมสรฟุตบอลเชลซีอย่างเป็นทางการ
      </p>
      <!-- เส้นขั้นหน้าระหว่างตรงหัวข้อกับลงทะเบียน -->
      <hr class="linetitle" />
    </div>
  </div>
  <div id="form-steps">
    <div class="progress2" id="progress2"></div>
    <div class="progress3" id="progress3"></div>
    <div class="step active" data-step="1"></div>
    <div class="step active" data-step="2"></div>
    <div class="step active" data-step="3"></div>
    <div class="step" data-step="4"></div>
  </div>

  <div class="form-section" data-step="3">
    <!-- Form fields for step 3 -->
    <div class="field-container">
      {% for user in user_data %}
      <h1 class="field-name">สนามแข่งขัน</h1>
      <p class="select-field">{{ user['stadium'] }}</p>
      <h1 class="field-name">ชื่อทีม</h1>
      <p class="select-field">{{ user['teamName'] }}</p>
      {% endfor %}
    </div>
    <div class="data-player">
      <div class="collapsible">
        <input type="checkbox" id="collapsible-head" />
        <label for="collapsible-head" class="field-player">เช็คข้อมูลผู้สมัคร</label>
        <div class="all-player-data">
          <hr class="hidden-hr" />
          <div class="title-header">
            <div class="Player-title">
              <h1 class="add-player">หัวหน้าทีม</h1>
              <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                        font-weight: 600;
                      ">
                *
              </p>
            </div>
          </div>

          <div class="checked-data">
            <div class="checkd-date-title">
              <p class="nameplayer-1">ชื่อ - นามสกุล</p>
              <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                      ">
                *
              </p>
            </div>
            {% for user in user_data %}
            <p class="nameplayer">{{ user['captainName'] }}</p>
            {% endfor %}
          </div>

          <div class="checked-data">
            <div class="checkd-date-title">
              <p class="nameplayer-1">เบอร์โทร</p>
              <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                      ">
                *
              </p>
            </div>
            {% for user in user_data %}
            <p class="nameplayer">{{ user['phoneCaptain'] }}</p>
            {% endfor %}
          </div>
          <div class="checked-data">
            <div class="checkd-date-title">
              <p class="nameplayer-1">อีเมล</p>
              <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                      ">
                *
              </p>
            </div>
            {% for user in user_data %}
            <p class="nameplayer">{{ user['email'] }}</p>
            {% endfor %}
          </div>


          <!-- <hr style="margin-top: 3rem" /> -->
        </div>
        <hr class="hidden-hr" />
        <div class="all-player-data">
          <!-- <hr class="hidden-hr" /> -->
          <div class="title-header">
            <div class="Player-title">
              <h1 class="add-player">ผู้สมัครคนที่ 1</h1>
              <p style="
                          color: #eb0000;
                          font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                          font-weight: 600;
                      ">
                *
              </p>
            </div>
            
          </div>
        
        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">ชื่อ - นามสกุล</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['nameplayer'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">วันเกิด</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['dateplayer'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">เบอร์โทร</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['phoneCaptain'] }}</p>
          {% endfor %}
        </div>


        <hr style="margin-top: 3rem" />
      </div>

      {% for player in session['player_data'] %}
      {% if player.get('nameplayer-2') %}
      <div class="all-player-data">
        <!-- <hr class="hidden-hr" /> -->
        <div class="title-header">
          <div class="Player-title">
            <h1 class="add-player">ผู้สมัครคนที่ 2</h1>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                        font-weight: 600;
                    ">
              *
            </p>
          </div>
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">ชื่อ - นามสกุล</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['nameplayer-2'] }}</p>
          {% endfor %}
        </div>


        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">วันเกิด</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['dateplayer-2'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">เบอร์โทร</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['phoneCaptain-2'] }}</p>
          {% endfor %}
        </div>

        <hr style="margin-top: 3rem" />
      </div>
      {% endif %}
      {% if player.get('nameplayer-3') %}
      <div class="all-player-data">
        <!-- <hr class="hidden-hr" /> -->
        <div class="title-header">
          <div class="Player-title">
            <h1 class="add-player">ผู้สมัครคนที่ 3</h1>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                        font-weight: 600;
                    ">
              *
            </p>
          </div>
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">ชื่อ - นามสกุล</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['nameplayer-3'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">วันเกิด</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['dateplayer-3'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">เบอร์โทร</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['phoneCaptain-3'] }}</p>
          {% endfor %}
        </div>

        <hr style="margin-top: 3rem" />
      </div>
      {% endif %}
      {% if player.get('nameplayer-4') %}
      <div class="all-player-data">
        <!-- <hr class="hidden-hr" /> -->
        <div class="title-header">
          <div class="Player-title">
            <h1 class="add-player">ผู้สมัครคนที่ 4</h1>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                        font-weight: 600;
                    ">
              *
            </p>
          </div>
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">ชื่อ - นามสกุล</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['nameplayer-4'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">วันเกิด</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>
          {% for player in playerData %}
          <p class="nameplayer">{{ player['dateplayer-4'] }}</p>
          {% endfor %}
        </div>

        <div class="checked-data">
          <div class="checkd-date-title">
            <p class="nameplayer-1">เบอร์โทร</p>
            <p style="
                        color: #eb0000;
                        font-size: clamp(0.75rem, 0.5795rem + 0.4545vw, 1.125rem);
                    ">
              *
            </p>
          </div>

          {% for player in playerData %}
          <p class="nameplayer">{{ player['phoneCaptain-4'] }}</p>
          {% endfor %}
        </div>

        <hr style="margin-top: 3rem" />
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <!-- Display some message or default content if no player data -->
    <p>No player data available.</p>
    {% endif %}
  </div>
  <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <div class="container-playment" >
      <div class="playment-detail">
        <p class="bank-account">ธนาคาร กสิกรไทย</p><br>
        <p class="bank-account">ชื่อบัญชี</p><br>
        <p class="numberpayment">น.ส.วรรณิภา งามในวงศ์</p><br>
        <p class="numberpayment" id="account-number">043-1-19789-8 <i class="bi bi-copy"></i></p>
        <p class="order-playment">
          รายการชำระค่าบริการของการสมัครแข่งขันฟุตบอล
        </p>
        <div class="playment-Amount">
          <div class="amount-container">
            <p class="all-amount">ยอดชำระทั้งหมด</p>
            <p class="amount-price">800.00</p>
          </div>
          <p class="detail-playment">หลังจากทำการชำระเงิน
            ทางทีมงานจะถือว่าสมัครเข้าร่วมการแข่งขันเรียบร้อย
            สามารถตรวจสอบสถานะการสมัครของทีมได้ทาง Facebook : Singha World of Football หลังจากสมัครผ่านระบบ 1 - 2 วัน
          </p>
          <div class="note-necessary">
            <p class="detail-playment">หมายเหตุ : เวลาทำการเท่านั้น จันทร์ - ศุกร์ ตั้งแต่เวลา 10.00 น. - 17.00 น.</p>
          </div>
          <div id="image-preview"></div>
          <label for="upload-payment" class="file-playment">
            <button type="button" class="upload-playment-button" id="upload-payment-button">
              + แนบสลิปชำระเงิน
            </button>
          </label>
          <input type="file" id="upload-payment" name="image" />
        </div>
      </div>
    </div>
    <div class="container-btn">
      <button class="confirm-player" type="submit" id="load4">
        ถัดไป
      </button>
    </div>
  </form>

    <!-- <div class="data-player">
      <div class="collapsible">
        <input type="checkbox" id="collapsible-Playment" />
        <label for="collapsible-Playment" class="field-player">Payment Methods</label>
        <div class="all-player-data"> -->
          <!-- <hr class="hidden-hr" /> -->

          <!-- form สำหรับส่งรูปภาพบิล -->

   
        <!-- </div>
      </div>
    </div> -->
  </div>
  
  <footer>
        <img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" alt="โลโก้" class="logoFT" />
        <img src="{{ url_for('static', filename='img/AW_Singha Chelsea Logo [Singha Corp]_2023-02.png') }}" alt="โลโก้" class="logo-footer" />
        <div class="co-footer">
          <!-- <p>co – sponsored by</p> -->
          <img src="{{ url_for('static', filename='img/co.png') }}" alt="โลโก้"/>
        </div>
       	<img src="{{ url_for('static', filename='img/Logo_Volt-02.png') }}" alt="โลโก้" class="logoFTs" />
        
  </footer>
  
  


</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/add-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>
<script src="{{ url_for('static', filename='js/copy.js') }}"></script>
<script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{{ url_for('static', filename='js/empty.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>