<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/TablePage.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">

</head>
<title>Competion</title>

<body>
   <div class="navbar">
    <a class="imglogo" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" class="navbar-logo" alt="โลโก้"></a>
          <div class="menu" id="myMenu">
            <a href="{{ url_for('home') }}">หน้าแรก</a>
            <a href="{{ url_for('home') }}#news">ตารางการแข่งขัน</a>
            <a href="{{ url_for('tableresult')}}">ผลการแข่งขัน</a>
            <a class="navBtn" href="{{ url_for('register') }}">ลงทะเบียน</a>
          </div>
    <div class="hamburger-menu" onclick="toggleHam(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>
  
<div class="empty"></div>

    <div class="bg-top">
      <img src="{{ url_for('static', filename='img/bg-top-new.jpg') }}"alt="">
      <img src="{{ url_for('static', filename='img/mobile.jpg') }}"alt="">
    </div>
<div class="all-contents">
<div id="news" class="main">
    <div class="bottom-main">
      <hr>
      <h1 style="margin: 1rem 0;" id="contact">ตารางผลการแข่งขัน</h1>

     
      <div class="table-compete">

        <div class="Result-compate">
          <div class="contents-button">
            <!-- Buttons to show images -->
            <button id="state1" class="arena-button" data-arena="ภาคเหนือ">ภาคเหนือ</button>
            <button id="state2" class="arena-button" data-arena="ภาคกลาง">ภาคกลาง</button>
            <button id="state4" class="arena-button" data-arena="ภาคใต้">ภาคใต้</button>
            <button id="state3" class="arena-button" data-arena="ภาคตะวันออกเฉียงเหนือ">ภาคตะวันออกเฉียงเหนือ</button>
            <button id="state5" class="arena-button" data-arena="ภาคตะวันออก">ภาคตะวันออก</button>
            <button id="state6" class="arena-button" data-arena="รอบชิงชนะเลิศ">รอบชิงชนะเลิศ</button>
            <!-- Add other buttons for other arenas -->
          </div>
          <!-- Container to display images -->
            {% for arena in arenadata %}
            <div class="setting arena-container" data-arena="{{ arena['arenaName'] }}">
                <div class="container-stadium">
                    <p><b>{{ arena['competName'] }}</b></p>
                    <!-- แสดงรูปภาพที่อัพโหลดลงในฐานข้อมูล -->
                    <div class="img-con">
                    <img src="{{ arena['image'] }}" alt="รูปภาพขนาดย่อ"  height="auto">
                    <!-- <p><a href="{{ arena['map'] }}">กดพื่อดูแผนที่การแข่งขัน</a></p> -->
                  </div>
                  </div>
            </div>
          {% endfor %}
      </div>
      </div>
      <hr>

      <!-- <h1>ผลการแข่งขัน</h1>
      
        <div class="container-stadium">
          <h1 class="mb">การคัดเลือกรอบแรก</h1>
          {% for result in resultdata %}
              {% if result['Competition_round'] == 'การคัดเลือกรอบแรก' %}
                  <img src="{{ result['image'] }}" alt="รูปภาพขนาดย่อ" height="auto">
              {% endif %}
          {% endfor %}
      </div>
      <hr style="margin-top: 2rem;">
        <div class="container-stadium">
          <h1  class="mb">การคัดเลือกรอบสอง</h1>
          {% for result in resultdata %}
              {% if result['Competition_round'] == 'การคัดเลือกรอบสอง' %}
                  <img src="{{ result['image'] }}" alt="รูปภาพขนาดย่อ" width="500" height="500">
              {% endif %}
          {% endfor %}
      </div>
      <hr style="margin-top: 2rem;">
        <div class="container-stadium">
          <h1 class="mb">รอบรองชนะเลิศ</h1>
          {% for result in resultdata %}
              {% if result['Competition_round'] == 'รอบรองชนะเลิศ' %}
                  <img src="{{ result['image'] }}" alt="รูปภาพขนาดย่อ" width="500" height="500">
              {% endif %}
          {% endfor %}
      </div>
      <hr style="margin-top: 2rem;"> -->

      </div>
      
    </div>
  </div>
  </div>
  </div>
<footer>
        <img src="{{ url_for('static', filename='img/SWOF_Logo_1-01.png') }}" alt="โลโก้" class="logoFT" />
        <img src="{{ url_for('static', filename='img/AW_Singha Chelsea Logo [Singha Corp]_2023-02.png') }}" alt="โลโก้" class="logo-footer" />
        <div class="co-footer">
          <!-- <p>co – sponsored by</p> -->
          <img src="{{ url_for('static', filename='img/co.png') }}" alt="โลโก้"/>
        </div>
       	<img src="{{ url_for('static', filename='img/Logo_Volt-02.png') }}" alt="โลโก้" class="logoFTs" />
        
  </footer>


</body>

<script src="https://kit.fontawesome.com/32a2f35189.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/add-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive.js') }}"></script>
<script src="{{ url_for('static', filename='js/detect.js') }}"></script>
<script src="{{ url_for('static', filename='js/empty.js') }}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const arenaButtons = document.querySelectorAll('.arena-button');
    const arenaContainers = document.querySelectorAll('.arena-container');

    // Function to handle button click
    function handleButtonClick(button) {
      const arenaName = button.getAttribute('data-arena');
      arenaContainers.forEach(container => {
        const img = container.querySelector('img');
        if (container.getAttribute('data-arena') === arenaName) {
          container.style.display = 'block';
        } else {
          container.style.display = 'none';
        }
      });

      // Remove the 'active' class from all buttons and add it to the clicked button
      arenaButtons.forEach(btn => {
        btn.classList.remove('active');
      });
      button.classList.add('active');
    }

    // Add click event listeners to buttons
    arenaButtons.forEach(button => {
      button.addEventListener('click', () => handleButtonClick(button));
    });

    // Simulate a click on the first button
    handleButtonClick(arenaButtons[0]);

  });
</script>



</html>