<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-popupadmin.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{{ url_for('static', filename='js/admin-page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/details.js') }}"></script>
    <script src="{{ url_for('static', filename='js/no-table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>


    <link rel="icon" href="{{ url_for('static', filename='img/new-logo.png') }}">
</head>
<title>Team Details</title>
</head>

<body>
    <div class="container">

            <div class="left">
                <!-- ส่วนทางซ้าย -->
                <div class="logo"></div>
                    <div class="main">
                        <br>
                        <ul class="menu">
                             <a href="{{ url_for('adminmanagement') }}"><button class="active" id="teamButton"  onclick="changePage('team')"><i class="bi bi-people"></i>ข้อมูลรายชื่อทีม</button></a>
                        </ul>
                        <ul class="menu">
                             <a href="{{ url_for('admincompletion') }}"><button class="none-active" id="competitionButton" onclick="changePage('competition')"><i class="bi bi-boxes"></i>การแข่งขัน</button></a>
                        </ul>
                        <ul class="menu">
                        </ul>
                        <form action="/adminlogoff" method="post">
                            <button class="logout" type="submit">
                                <p><i class="bi bi-arrow-bar-right"></i>Log out</p></a>
                            </button>
                        </form>
                </div>
            </div>

        <div class="right">
            <!-- ส่วนทางขวา -->
            <nav>
                <h1 id="pageTitle">ข้อมูลรายชื่อทีม</h1>
                <h1><i class="bi bi-bell-fill" style="color:#fff;cursor: pointer;"></i></h1>
            </nav>

            <div class="admin-data">
                <div class="top-data">
                    <div class="listMenu">
                        <p><b>ทั้งหมด</b> :<p style="margin-left: -0.5rem;" id="no-table"></p><b>ตาราง</b></p>
                    </div>
                    
                    <div class="list-menu-right-page">
                        <form method="post" action="/export_to_excel">
                            <a href="{{ download_url }}" download="team_and_player_data.xlsx">
                                <button id="downloadExcel"><p>ดาวน์โหลด Excel</p></button>
                            </a>
                            <input type="hidden" name="download_url" value="{{ download_url }}">
                        </form>
                         <input type="search" id="searchInput" placeholder="ค้นหาชื่อทีม...">
                    </div>
                     
                </div>
                <div class="tableMember">
                   <table id="teamTable">
                        <thead>
                        <tr>
                            <th class="col0"></th>
                            <th></th>
                            <th class="col5">ยอดรวม</th>
                            <th style="display: flex;align-items: center;"><p id="total"></p>&ensp;<p>บาท</p></th>
                            <th></th>
                            <th class="col2"></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="col0">No.</th>
                            <th >ชื่อทีม&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>
                            <th class="col5">สนามการแข่งขัน</th>
                            <th >การชำระเงิน</th>
                            <th >จำนวนผู้สมัคร</th>
                            <th class="col2">รายละเอียด</th>
                            <th >สถานะ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% set total_players_all_teams = 0 %}
                            {% for players in playerData %}
                            <tr>
                                <td>
                                    <p>{{ loop.index }}</p>
                                </td>
                                <td>
                                    <p>{{ players['nameTeam'] }}</p>
                                </td>
                                <td>
                                    <p>{{ players['nameArena'] }}</p>
                                </td>
                                <td >
                                    <p>800</p>
                                </td>
                                <td >
                                    {% set count_players_in_row = 0 %}
                                    {% if players['nameTeam'] and players['nameTeam'] != 'None' %}
                                        {% set count_players_in_row = count_players_in_row + 1 %}
                                    {% endif %}

                                    {% if players['namePlayer'] and players['namePlayer'] != 'None' %}
                                        {% set count_players_in_row = count_players_in_row + 1 %}
                                    {% endif %}

                                    {% if players['namePlayer2'] and players['namePlayer2'] != 'None' %}
                                        {% set count_players_in_row = count_players_in_row + 1 %}
                                    {% endif %}

                                    {% if players['namePlayer3'] and players['namePlayer3'] != 'None' %}
                                        {% set count_players_in_row = count_players_in_row + 1 %}
                                    {% endif %}
                        
                                    {% set total_players_all_teams = total_players_all_teams + count_players_in_row %}
                                    
                                    <p>{{ count_players_in_row }}</p> 
                                </td>
                            <td>
                                 <button onclick="openModal('{{ players.nameTeam }}')">ดูรายละเอียด</button>
                            </td>
                            <td>
                                <p>{{players['pending'] }}</p>
                            </td>
                            <td>
                                <div class="edit">
                                        <form action="{{ url_for('delete_record', team_id=players['nameTeam']) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this record?');">
                                            <button id="delete" class="submit" name='delete' style="color: red;" value='{{ players['nameTeam'] }}'>ลบ</button>
                                        </form>
                                    </div>
                            </td>
                        </tr> 
                        {% endfor %}
                        
                    </tbody>

                    </table>

                  </div>  
                    {% for players in playerData %}
                    <div id="myModal-{{ players.nameTeam }}" class="modal3">

                        <!-- Modal content -->
                        <div class="modal-content">


                                <div class="head-modal">
                                    <h1 class="title-team">รายละเอียดผู้สมัคร</h1>
                                </div>
                                <div class="contentsDetail">
                                    <div class="right-contents">
                                        <p><b>กรุณาเลือกสนามแข่งขัน</b> </p>
                                        <p><b>กรุณากรอกชื่อทีม</b></p>
                                        <p><b>ชื่อ - นามสกุล</b></p>
                                        <p><b>เบอร์โทร</b></p>
                                        <p><b>อีเมล</b></p>
                                    </div>

                                    <div class="left-contents">
                                        <p>{{ players['nameArena']}}</p>
                                        <p>{{ players['nameTeam']}}</p>
                                        <p>{{ players['nameCoach']}}</p>
                                        <p>{{ players['phone']}}</p>
                                        <p>{{ players['email']}}</p>
                                    </div>
                                </div>

                                <div class="head-modal">
                                    <h1 class="title-team">รายชื่อทีม</h1>
                                </div>
                                <div class="top-contents">
                                    <p style="margin-left: 1rem;"><b>นักกีฬาคนที่ 1</b> </p>
                                    <div class="contentsDetail">
                                        <div class="right-contents">
                                            <p><b>กรอกชื่อ - นามสกุล</b> </p>
                                            <p><b>เบอร์โทร</b> </p>
                                            <p><b>ว/ด/ป</b> </p>
                                        </div>
                                        <div class="left-contents">
                                            <p>{{ players['namePlayer']}}</p>
                                            <p>{{ players['phonePlayer']}}</p>
                                            <p>{{ players['datePlayer']}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-left: 1rem;"><b>นักกีฬาคนที่ 2</b> </p>
                                    <div class="contentsDetail">
                                        <div class="right-contents">
                                            <p><b>กรอกชื่อ - นามสกุล</b> </p>
                                            <p><b>เบอร์โทร</b> </p>
                                            <p><b>ว/ด/ป</b> </p>
                                        </div>
                                        <div class="left-contents">
                                            <p>{{ players['namePlayer2']}}</p>
                                            <p>{{ players['phonePlayer2']}}</p>
                                            <p>{{ players['datePlayer2']}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-left: 1rem;"><b>นักกีฬาคนที่ 3</b> </p>
                                    <div class="contentsDetail">
                                        <div class="right-contents">
                                            <p><b>กรอกชื่อ - นามสกุล</b> </p>
                                            <p><b>เบอร์โทร</b> </p>
                                            <p><b>ว/ด/ป</b> </p>
                                        </div>
                                        <div class="left-contents">
                                            <p>{{ players['namePlayer3']}}</p>
                                            <p>{{ players['phonePlayer3']}}</p>
                                            <p>{{ players['datePlayer3']}}</p>
                                        </div>
                                    </div>
                                    <p style="margin-left: 1rem;"><b>นักกีฬาคนที่ 4</b> </p>
                                    <div class="contentsDetail">
                                        <div class="right-contents">
                                            <p><b>กรอกชื่อ - นามสกุล</b> </p>
                                            <p><b>เบอร์โทร</b> </p>
                                            <p><b>ว/ด/ป</b> </p>
                                        </div>
                                        <div class="left-contents">
                                            <p>{{ players['namePlayer4']}}</p>
                                            <p>{{ players['phonePlayer4']}}</p>
                                            <p>{{ players['datePlayer4']}}</p>
                                        </div>
                                    </div>
                                    <div class="head-payment-modal">
                                        <h1 class="title-team">Payment methods</h1>
                                    </div>
                                    <div class="contentsDetail">
                                        <div class="right-contents">
                                            <p><b>จำนวนผู้สมัคร</b></p>
                                            <p><b>ยอดชำระทั้งหมด</b></p>
                                        </div>
                                        <div class="left-contents">
                                            
                                            <!-- {% with num_players=playerData|length %}
                                                <p>{{ num_players }}</p>
                                            {% endwith %} -->
                                             
                                            {% set count_players_in_row = 0 %}
                                            {% if players['nameTeam'] %}
                                                {% set count_players_in_row = count_players_in_row + 1 %}
                                            {% endif %}

                                            {% if players['namePlayer2'] %}
                                                {% set count_players_in_row = count_players_in_row + 1 %}
                                            {% endif %}

                                            {% if players['namePlayer3'] %}
                                                {% set count_players_in_row = count_players_in_row + 1 %}
                                            {% endif %}

                                            {% if players['namePlayer4'] %}
                                                {% set count_players_in_row = count_players_in_row + 1 %}
                                            {% endif %}

                                                <p>{{ count_players_in_row }}</p>
                                            <p>800.00</p>
                                        </div>
                                    </div>
                                    {% if players['image'] %}
                                    <div class="receipt">
                                        <div class="image-td">
                                            <img src="{{ players['image'] }}" class="clickable-image" alt="payment Image">
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="footer-modal">
                                          <form action="{{ url_for('checkpending', team_id=players['nameTeam']) }}" method="POST">
                                            <button id="accept" class="submit" name='approve' value='{{ players['nameTeam'] }}'>อนุมัติ</button>
                                            <button id="decline" class="submit" name='not-approve' value='{{ players['nameTeam'] }}'>ไม่อนุมัติ</button>
                                            <span id="cancel" class="close">ยกเลิก</span>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                 		 {% endfor %}
                </div>
                    
                </div>
            

        </div>


    </div>

</body>


</html>